    .container {
    display:table;
    width: 100%;
    height: 100%;
    margin-top: -50px;
    padding: 50px 0 0 0; /*set left/right padding according to needs*/
    box-sizing: border-box;
    }
    
    .row {
        height: 100%;
        display: table-row;
    }
    
    .row .no-float {
      display: table-cell;
      float: none;
    }
    
    
    .geostats-legend div {
      margin: 3px 10px 5px 10px
    }
    
    .geostats-legend-title {
      font-weight: bold;
      margin-bottom: 4px;
    }
    
    .geostats-legend-block {
      border: 1px solid #555555;
      display: block;
      float: left;
      height: 12px;
      margin: 0 5px 0 20px;
      width: 20px;
    }
    
    .geostats-legend-counter {
      font-size: 0.8em;
      color: #666;
      font-style: italic;
    }
    .appHeader {
     margin: 1em 0 0.5em 0;
	   font-weight: normal;
	   position: relative;
	   text-shadow: 0 -1px rgba(0,0,0,0.6);
     text-align: center;
	   font-size: 28px;
	   line-height: 40px;
     background: #355681;
     background: rgba(53,86,129, 0.8);
     border: 1px solid #fff;	
     padding: 5px 15px; 	
     color: white; 	
     border-radius: 0 10px 0 10px; 	
     box-shadow: inset 0 0 5px rgba(53,86,129, 0.5);
    }
    
    
 #dvLoading
{
   background:#fff url(loader.gif) no-repeat center center;
   height: 100%;
   width: 100%;
   position: fixed;
   z-index: 1000;
   opacity:0.9;

}




.spinner {
  width: 100px;
}
.spinner input {
  text-align: right;
}
.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell;
}
.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
}
.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}
.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}
.input-group-btn-vertical i{
  position: absolute;
  top: 0;
  left: 4px;
}




.ol-popup {
    position: absolute;
    min-width: 180px;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    bottom: 12px;
    left: -50px;
}
.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}
.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}
.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}
.ol-popup-closer:after {
    content: "X";
}